<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem 
            id="multi_channel_crm_menu"
            name="Multi Channel CRM"
            sequence="20"/>

            <menuitem
                id="channel_menu"
                name="Platform"
                action="multi_channel_crm_view_action"
                parent="multi_channel_crm_menu"
                sequence="10"/>

            <menuitem 
                id="odoo_multi_channel_crm_menu_feed" 
                name="Feed" 
                parent="multi_channel_crm_menu" 
                sequence="20"/>

                <menuitem
                    id="kyc_feed_menu"
                    name="Customer Feed"
                    action="kyc_feed_view_action"
                    parent="odoo_multi_channel_crm_menu_feed"
                    sequence="10"/>

            <menuitem 
                id="odoo_multi_channel_crm_menu_mapping" 
                name="Mapping" 
                parent="multi_channel_crm_menu" 
                sequence="30"/>
                
                <menuitem 
                    id="odoo_multi_channel_crm_lead_mapping_menu" 
                    name="Lead Mapping" 
                    parent="odoo_multi_channel_crm_menu_mapping" 
                    action="channel_lead_mapping_view_action" 
                    sequence="10"/>
                <menuitem 
                    id="odoo_multi_channel_crm_contact_mapping_menu" 
                    name="Contact Mapping" 
                    parent="odoo_multi_channel_crm_menu_mapping" 
                    action="channel_contact_mapping_view_action" 
                    sequence="20"/>


            <!--  CONFIGRATION  -->
            <menuitem 
                id="odoo_multi_channel_crm_menu_configuration" 
                name="Configration" 
                parent="multi_channel_crm_menu" 
                sequence="40"/>

                <menuitem 
                    id="odoo_multi_channel_crm_config_settings_menu" 
                    name="Settings" 
                    parent="odoo_multi_channel_crm_menu_configuration" 
                    action="odoo_multi_channel_crm_config_settings_action" 
                    groups="base.group_system" 
                    sequence="10"/>

            <!-- CORE MENU INHERIT -->
            <menuitem id="product_menu_crm"
                name="Products"
                parent="crm.crm_menu_root"
                sequence="3"/>
                <menuitem id="menu_product_template_action"
                    action="product.product_template_action_all"
                    parent="product_menu_crm"
                    sequence="10"/>

            <menuitem id="seller_offer_code_menu"
                action="seller_offer_code_action"
                parent="menu_category"/>
    </data>
</odoo>
