<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem 
            id="multi_channel_crm_menu"
            name="Multi Channel CRM"
            sequence="20"/>

            <menuitem
                id="channel_menu"
                name="Platform"
                action="multi_channel_crm_view_action"
                parent="multi_channel_crm_menu"
                sequence="10"/>

            <menuitem
                id="kyc_feed_menu"
                name="Feed"
                action="kyc_feed_view_action"
                parent="multi_channel_crm_menu"
                sequence="20"/>

            <menuitem 
                id="odoo_multi_channel_crm_menu_mapping" 
                name="Mapping" 
                parent="multi_channel_crm_menu" 
                sequence="30"/>
                
                <menuitem 
                    id="odoo_multi_channel_crm_contact_mapping_menu" 
                    name="Contact Mapping" 
                    parent="odoo_multi_channel_crm_menu_mapping" 
                    action="channel_contact_mapping_view_action" 
                    sequence="10"/>

            <!--  CONFIGRATION  -->
            <menuitem 
                id="odoo_multi_channel_crm_menu_configuration" 
                name="Configration" 
                parent="multi_channel_crm_menu" 
                sequence="40"/>

                <menuitem 
                    id="odoo_multi_channel_crm_config_settings_menu" 
                    name="Settings" 
                    parent="odoo_multi_channel_crm_menu_configuration" 
                    action="odoo_multi_channel_crm_config_settings_action" 
                    groups="base.group_system" 
                    sequence="10"/>
    </data>
</odoo>
